html, body{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(2nd.jpg);
    min-height: 100%;
   
}
.pimg2{
    background-image: url(1st.jpg);
    min-height: 600px;
   
}
.pimg3{
    background-image: url(4th.jpg);
    min-height: 600px;
   
}
.pimg1, .pimg2, .pimg3
{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  /*by giving image-attachment: fixed it will give a parallax effect*/
   
}

.ptext{
    position:absolute ;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
   

}

.textbg{
    background-color: #000000;
    color: white;
    padding: 20px;
}
.textbg:hover{
    background-color: #fffbfb;
    color: #000000;
    box-shadow: 5px 5px 6px -3px rgb(221, 159, 159);
   
}
.section{
    padding:50px 80px;
    text-align: justify;
    
}
.section h2{
    text-align: center;
    margin-bottom: 50px 0;
}

h2:hover{
    color: rgb(0, 255, 0);


}
.section-light{
    background-color: #ffffff;
    color: rgb(90, 90, 90);
    
}
.section-dark{
    color: white;
    background-color: #161115;
   
}